body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(118, 118, 118);
}

#slider-image {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}
